{% extends "layout.html.twig" %}

{% block content %}
    <script>
        var appData = {{ data|json_encode()|raw }};
    </script>
    <div id="CoffeeMachine">
        <div class="Debug" v-if="debug">${debug}</div>
        <div class="Machine">
            <ul class="Items">
                <li v-for="item in coffeeMachine.storage.items">
                    <button :disabled="item.disabled" v-on:click="buy(item)">
                        ${item.name} - ${item.price}р x ${item.count}
                    </button>
                </li>
            </ul>

            <div class="Cashbox">
                <table class="Coins">
                    <tr>
                        <th>Монеты</th>
                        <th>Кол-во</th>
                    </tr>
                    <tr v-for="item in coffeeMachine.cashBox.items">
                        <td>${item.value}р</td>
                        <td>${item.count}</td>
                    </tr>
                </table>
            </div>

            <div class="Panel">
                <p>${coffeeMachine.status}</p>
                <p>Внесенная сумма: ${coffeeMachine.balance}р</p>
                <button v-on:click="getChange">Сдача</button>
                <button v-on:click="reset">Сбросить</button>
            </div>


        </div>
        <div class="User">

            <div class="Cashbox">
                <table class="Coins">
                    <tr>
                        <th>Монеты</th>
                        <th>Кол-во</th>
                        <th></th>
                    </tr>
                    <tr v-for="item in user.cashBox.items">
                        <td>${item.value}р</td>
                        <td>${item.count}</td>
                        <td>
                            <button  :disabled="item.count <= 0" v-on:click="take(item)">Внести</button>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
{% endblock %}
