<!DOCTYPE html>
<html>
<head>
    <title>{% block title 'Coffee machine' %}</title>

    <link href="/css/main.css" rel="stylesheet" type="text/css"/>
    <script src="/js/vue.js"></script>
    <script src="/js/axios.min.js"></script>
    <script src="/js/script.js"></script>

</head>
<body>
<div id="page">
    {% block content %}{% endblock %}
</div>
</body>
</html>
